name: Release new version

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  GIT_AUTHOR_EMAIL: ${{vars.AUTHOR_EMAIL}}
  GIT_AUTHOR_NAME: $${{vars.AUTHOR_NAME}}
  GIT_COMMITTER_EMAIL: ${{vars.AUTHOR_EMAIL}}
  GIT_COMMITTER_NAME: $${{vars.AUTHOR_NAME}}

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.action.outputs.tag }}
      version: ${{ steps.action.outputs.version }}
      version_start_hash: ${{ steps.action.outputs.version_start_hash}}
      version_end_hash: ${{ steps.action.outputs.version_end_hash}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Generate new version
        id: action
        uses: pier-oliviert/actions@7e90437ea8493b6377020624d8f04b73c2900c9a
        with:
          args: /actions/index.ts create version
          auth_token: ${{ secrets.GH_ACTION_TOKEN }}
          repo: ${{ github.repository}}
          variable: "PHONEBOOK_VERSION"

  changelog:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    needs: ["version"]
    outputs:
      changelog: ${{steps.action.outputs.changelog}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Generate Changelog
        uses: pier-oliviert/actions@7e90437ea8493b6377020624d8f04b73c2900c9a
        id: action
        env:
          GIT_CLIFF__CHANGELOG__HEADER: ""
          GIT_CLIFF__CHANGELOG__FOOTER: ""
        with:
          auth_token: ${{ secrets.GH_ACTION_TOKEN }}
          args: /actions/index.ts create changelogs
          version: ${{needs.version.outputs.version}}
          version_start_hash: ${{needs.version.outputs.version_start_hash}}
          version_end_hash: ${{needs.version.outputs.version_end_hash}}

  release:
    runs-on: ubuntu-latest
    needs: ["version", "changelog"]
    outputs:
      upload_url: ${{steps.action.outputs.upload_url}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy Helm package
        id: action
        uses: pier-oliviert/actions@7e90437ea8493b6377020624d8f04b73c2900c9a
        with:
          args: /actions/index.ts create release
          auth_token: ${{ secrets.GH_ACTION_TOKEN }}
          repo: ${{ github.repository}}
          version: ${{ needs.version.outputs.version }}
          tag: ${{ needs.version.outputs.tag }}
          changelog: ${{ needs.changelog.outputs.changelog }}

  helm:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    needs: ["version", "release"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
      - name: Deploy Helm package
        uses: pier-oliviert/actions@7e90437ea8493b6377020624d8f04b73c2900c9a
        with:
          args: /actions/index.ts create helm
          auth_token: ${{ secrets.GH_ACTION_TOKEN }}
          repo: ${{ github.repository}}
          release_upload_url: ${{ needs.release.outputs.upload_url }}
          version: ${{ needs.version.outputs.version }}

  build-and-push-image:
    runs-on: ubuntu-latest
    needs: ["version"]
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Controller
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        env:
          PROVIDER_VERSION: ${{vars.PHONEBOOK_VERSION}}
        with:
          file: ${{ github.workspace }}/Dockerfile.controller
          context: .
          target: controller
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{github.repository}}:latest
            ${{ env.REGISTRY }}/${{github.repository}}:${{github.event.release.tag_name}}

      - name: "Providers: AWS"
        id: aws
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: ${{ github.workspace }}/Dockerfile.providers
          context: .
          target: aws
          push: true
          tags: |
            ${{ env.REGISTRY }}/pier-oliviert/providers-aws:latest
            ${{ env.REGISTRY }}/pier-oliviert/providers-aws:${{github.event.release.tag_name}}

      - name: "Providers: Azure"
        id: azure
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: ${{ github.workspace }}/Dockerfile.providers
          context: .
          target: azure
          push: true
          tags: |
            ${{ env.REGISTRY }}/pier-oliviert/providers-azure:latest
            ${{ env.REGISTRY }}/pier-oliviert/providers-azure:${{github.event.release.tag_name}}

      - name: "Providers: Cloudflare"
        id: cloudflare
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: ${{ github.workspace }}/Dockerfile.providers
          context: .
          target: cloudflare
          push: true
          tags: |
            ${{ env.REGISTRY }}/pier-oliviert/providers-cloudflare:latest
            ${{ env.REGISTRY }}/pier-oliviert/providers-cloudflare:${{github.event.release.tag_name}}

      - name: "Providers: deSEC"
        id: desec
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: ${{ github.workspace }}/Dockerfile.providers
          context: .
          target: desec
          push: true
          tags: |
            ${{ env.REGISTRY }}/pier-oliviert/providers-desec:latest
            ${{ env.REGISTRY }}/pier-oliviert/providers-desec:${{github.event.release.tag_name}}

      - name: "Providers: Gcore"
        id: gcore
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: ${{ github.workspace }}/Dockerfile.providers
          context: .
          target: gcore
          push: true
          tags: |
            ${{ env.REGISTRY }}/pier-oliviert/providers-gcore:latest
            ${{ env.REGISTRY }}/pier-oliviert/providers-gcore:${{github.event.release.tag_name}}
